{% extends "layout.html" %}
{% block content %}
<h1>Reset Your Password</h1>
<p>Enter your new password below. You may need to verify this password reset via text as well.</p>
<div class="container">
    <form method="POST" action="{{ url_for('reset_password') }}" class="form-horizontal">
        {{ form.csrf_token }}
        {{ wtf.form_field(form.password, form_type='horizontal') }}
        {{ wtf.form_field(form.confirm, form_type='horizontal') }}
        {{ form.token }}
        <div class='form-group'>
            <div class='col-sm-offset-2 col-sm-10'>
                <input type="submit" value="Reset" class="btn btn-success">
            </div>
        </div>
    </form>
</div>
{% endblock %}
